<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <link rel="shortcut icon" type="image/png" href="/cs467-beat-hive/assets/images/icon.png">
          <a id="forkme_banner" href="{{ site.github.repository_url }}">GitHub</a>
          <a id="forkme_menu" href="./credits.html">Credits</a>
          <a id="forkme_menu" href="./docs.html">Docs</a>
          <a id="forkme_menu" href="./">Home</a>
          <img src="/cs-467-beat-hive/assets/images/icon.png" style="position: absolute; top: 20px !important; left: -100px !important; border: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important;" />
          <h1 id="project_title" style="border-top: none !important;">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>


    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="https://github.com/dnacker">dnacker</a>, <a href="https://github.com/millreed">millreed</a>, <a href="https://github.com/adam-page">adam-page</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
        <p>Uses the <a href="https://github.com/pages-themes/slate">Slate Theme</a></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
